.tracker {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & form {
        width: 100%;
        position: relative;
    }

    & section {
        &:nth-child(1) {
            padding: 0 15px;
        }
    }

    & input {
        border-width: 1px;
        border-color: rgba(0, 0, 0, 0.5);
        border-style: solid;
        z-index: 30;
        border-radius: 75px;
        padding: 17px 21px;
        width: 100%;
        margin-bottom: 26px;
    }

    & .submitButton {
            border-radius: 50%;
            outline: none;
            box-shadow: none;
            border-style: none;
            background-color: var(--paletteColor3);
            width: 50px;
            height: 50px;
            z-index: 35;
            cursor: pointer;
            position: absolute;
            right: 2px;
            top: 2px;
    }

}

