:root {
    --cWidth: 560px;
}
* {
    box-sizing: border-box;
    outline: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--paletteColor2);

    font-family: 'PT Sans', sans-serif;
    font-smoothing: antialiased;
    font-variant-ligatures: none;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    min-height: 100vh;

    & section {
        width: 100%;
    }
}

ul {
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
}

@media (--desktop) {
  .container {
      max-width: var(--cWidth);
  }

}
